@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #fce4ec;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Links globais */
a {
  color: #d81b60;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Apenas se quiser padronizar títulos e botões globalmente */
h1 {
  font-size: 2rem;
  font-weight: 700;
}

button {
  font-family: inherit;
}
